<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Home Page</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic veritatis itaque quasi accusantium quod, aut ex qui
        veniam ut perspiciatis necessitatibus labore incidunt sunt nulla accusamus quidem tenetur harum nihil?
        Blanditiis sed quibusdam nemo? Adipisci vero ducimus eligendi similique fuga non pariatur quisquam voluptatum
        nulla? Commodi culpa cupiditate repudiandae! Repellat, exercitationem optio fugit perferendis voluptas
        dignissimos qui ad dolorum eligendi.
        Nobis, distinctio consectetur! Iusto quae veniam placeat. Veniam voluptatem dolorem rerum facilis, hic maiores
        quis non tempore, numquam magni architecto amet assumenda quod nostrum dolore reiciendis ea, cum possimus
        recusandae!
        Libero corrupti repellat tenetur, officia quam hic fuga, corporis asperiores obcaecati, sequi itaque explicabo
        cum commodi incidunt inventore laudantium mollitia quibusdam vero ducimus molestias. Quae veniam accusantium
        consectetur a ipsum.
        Accusamus dignissimos sapiente debitis ad quis possimus magni, doloremque commodi cum, ipsam aut qui asperiores
        deleniti! Fugit voluptatum magni exercitationem, nemo delectus quisquam iste voluptatem optio, nisi animi enim
        cupiditate.</p>
</body>

</html>